.advertising .area {
    width: 1200px;
    margin: 0 auto;
}

.advertising .bread-area {
    width: 1200px;
    margin: 0 auto;
}

.advertising .bread {
    height: 74px;
    line-height: 74px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.advertising .bread span {
    float: left;
    font-size: 16px;
    color: #808080;
}

.advertising .bread ul li {
    float: left;
    padding-left: 10px;
}

.advertising .bread ul li a {
    font-size: 16px;
    color: #808080;
}

.area .intro {
    height: 188px;
    width: 100%;
    text-align: center;
}

.area .intro h2 {
    margin-top: 34px;
    color: #333;
    font-size: 30px;
}

.area .intro p {
    margin: 0 80px;
    margin-top: 20px;
    line-height: 25px;
    color: #333;
    font-size: 18px;
    text-align: left;
}

.content ul li {
    height: 500px;
}


/* 第一个li */

.content ul li:nth-child(1) {
    height: 650px;
    width: 100%;
    background-color: #f5f6f7;
}

.content .content-area {
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #f5f6f7;
}


/* 第一个li标题部分 */

.content-headline {
    position: relative;
    text-align: center;
    margin-top: 60px;
}

.content-area h6 {
    position: absolute;
    top: 14px;
    left: 408px;
    font-size: 30px;
}

.content-area .content-l {
    margin-top: 60px;
    padding: 0 78px;
}


/* 第一个li样式 */

.content-area .content-l .content-left {
    width: 300px;
    height: 460px;
    float: left;
    position: relative;
}

.content-l .content-left .little-img {
    width: 302px;
    height: 309px;
    position: absolute;
    top: 132px;
    left: -1px;
}

.content-l .content-right {
    float: left;
    margin-left: 264px;
}

.content-l .content-right h1 {
    margin-top: 100px;
    font-size: 26px;
    color: #333;
    /* margin-left: -20px; */
}

.content-l .content-right p {
    width: 360px;
    line-height: 30px;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
    color: #808080;
}


/* 第二个 */

.content-ll {
    padding: 0 78px;
    margin-top: 2px;
}

.content-ll .content-left {
    float: left;
    width: 742px;
}

.content-ll .content-left h1 {
    margin-top: 160px;
    font-size: 26px;
    color: #333;
}

.content-ll .content-left p {
    width: 360px;
    line-height: 30px;
    margin-top: 20px;
    font-size: 16px;
}

.content-ll .content-right {
    float: left;
    width: 300px;
}

.content-ll .content-right {
    position: relative;
}

.content-ll .content-right .content-ll-little-img {
    width: 290px;
    height: 102px;
    position: absolute;
    top: 281px;
    right: 5px;
}

.content-ll .content-right .content-ll-little-img::after {
    width: 85px;
    top: 123px;
    transform: rotate(-28deg);
}

.content-ll .content-right .content-ll-little-img::before {
    display: block;
    content: '';
    height: 1px;
    border-bottom: 1px dashed #ff5000;
    position: absolute;
    overflow: hidden;
    line-height: 1;
    top: 0;
    left: 0;
    /* -webkit-transition: all .6s .6s; */
    /* transition: all .6s .6s; */
    /* -webkit-transition: all 1s ; */
    /* transition: all 1s; */
    /* opacity: 0; */
}


/* 提示 */

.hint {
    height: 110px;
    width: 100%;
    background-color: #f5f6f7;
}

.hint .hint-area {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.hint .hint-area img {
    margin: 0 auto;
    margin-top: 12px;
}

.hint p {
    font-size: 14px;
    color: #808080;
    margin-top: 14px;
}