/*首页头部部分*/
.header .nav_top li{
	width: auto;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
}
.header .logo img{
	margin-top: 0;
	display: block;
	margin-left: 0;
}
.header .logo a{
	display: block;
	overflow: hidden;
}

.header .nav_top li a{
	font-size: 14px;
}
.header .nav_top li:hover{
	background: #fff;
}
.header .nav_top li:hover a{
	color: #ff4500;
}
.header .nav_top li.cur{
	background: #fff;
}
.header .nav_top li.cur a{
	color: #ff4500;
}
.arrow{
	position: absolute;
	right: 4px;
	top: 33px;
	width: 10px;
	height: 5px;
	display: block;
	background: url("../image/layout/arrow.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/arrow.png*/) no-repeat ;
	margin: 0 !important;
}
.header .nav_top li em.icon_new{
	top: 2px;
	left: 44%;
	background: url("../image/icon_new.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/icon_new.png*/) center no-repeat !important;
}
.header .nav_top li:hover em.icon_new{
	 background: url("../image/icon_new.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/icon_new.png*/) center no-repeat !important;
}
.header .nav_top{
	width: 1000px;
	margin-left: 50px;
}

/**/
.header .nav_top li.sy_login{
	padding-left: 0;
	margin-left: 30px;
}
.header .nav_top li.sy_register{
	padding-left: 0;
}
.header .nav_top li.sy_login a{
	border: 1px solid #ff4500;
	display: inline;
	padding: 4px 8px;
	border-radius: 15px;
	color: #ff4500;
}
.header .nav_top li.sy_register a{
	width: 80px;
	height: 30px;
	background: #ff4500;
	display: inline;
	padding: 4px 8px;
	border-radius: 15px;
	border: 1px solid #ff4500;
	color: #ffffff;
}


.foot_top{
	width: 100%;
	height: 106px;
	border-bottom: 1px solid  #616264;
}
.foot_topimg{
	width: 240px;
	float: left;
	height: 100%;
	/*padding-top: 30px;*/
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.foot_topimg img{
	border-right: 1px solid #9c9d9e;
	padding-right: 20px;
}
.foot_tel1{
	float: left;
	width: 530px;
	height: 106px;
	line-height: 106px;
}
.foot_tel1 span:first-of-type{
	font-size: 20px;
	color: #e1e1e1;
	margin-left: 14px;
}
.foot_tel1 span:last-of-type{
	font-size: 30px;
	color: #e1e1e1;
}
.foot_tel2{
	float: left;
	width: 390px;
	height: 106px;
	line-height: 106px;
}
.foot_tel2 span:first-of-type{
	font-size: 20px;
	color: #e1e1e1;
	margin-left: 14px;
}
.foot_tel2 span:last-of-type{
	font-size: 30px;
	color: #e1e1e1;
}

.footer .part_1{
	padding: 0 !important;
	/*margin-top: 20px;*/
}
.footer{
	height: 406px !important;
}
.foot_code{
	position: absolute;
	right: 110px;
	top: 200px;
}

/*.wh_1200{
	width: 1100px !important;
}*/
.shadowpar, .shadowpar1{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 999999999999;
	display: none;
}
.shadow{
	position: absolute !important;
	display: block !important;
	
}
.shadowBox{
	border-radius: 10px;
}
.slideBox{
	height: 0;
	background: #fff;
	position: absolute;
	top: 70px;
	z-index: 999;
	transition: all .3s ease-in-out;
	overflow: hidden;
	z-index: 9999;
	/*transform: scaleY(0);*/ 
}
.slideBox p{
	width: 100%;
	height: 11px;
	background: url("../image/layout/shadow.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/shadow.png*/);

}
.slideList{
	width: 1200px;
	height: calc(100% - 11px);
	margin: 0 auto;
	overflow: hidden;
}
.slideList .list_slidebox{
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 34px;
}
.list_slidebox .list_slide{
	width: 116px;
	min-height: 144px;
	float: left;
	margin-right: 55px;
}
.list_slide:last-of-type{
	margin-right: 0;
}
.slidea1{
	width: 100% !important;
	height: 49px !important;
	line-height: 49px;
	text-align: left !important;
	font-size: 16px !important;
	font-weight: bold;
	color: #333333 !important;
	display: block !important;
}
.slidea2{
	width: 100% !important;
	height: 34px !important;
	line-height: 17px;
	text-align: left !important;
	font-size: 12px !important;
	color: #999 !important;
	margin-bottom: 14px;
	display: block !important;
}
.slidea3{
	width: 100% !important;
	height: 24px !important;
	line-height: 24px;
	text-align: left !important;
	font-size: 12px !important;
	color: #3388ff !important;
	display: block !important;
}
.slide_bottom{
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.slide_bottom span{
	font-size: 12px;
	color: #666666;
}
/*首页内容部分*/
.index_list{
	position: absolute;
	left: 0;
	top: 0;
	width: 190px;
	height: 100%;
	background: #fef7f4;
	box-sizing: border-box;
	text-align: center;
}
.listTitle{
	height: 60px;
	border-bottom: 1px solid #ebecea;
	line-height: 60px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 20px;
}
.index_listul{
	width: 100%;
	height: auto;
}
.index_listul li{
	height: 50px;
	margin-bottom: 15px;
}
.index_listul li a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: left;
	position: relative;
	color: #333333;
	box-sizing: border-box;
	padding-left: 64px;
}
.index_listul li a em{
	position: absolute;
	left: 32px;
	top: 15px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.index_banner{
	height: 620px ;
	position: relative;
	background: transparent;
}
.banner_bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}
.banner_bgBox{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide_1{
	background: url("../image/layout/banner_top1.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top1.png*/);
		background-size:cover ;
	background-position: center;
}
.slide_2{
	background: url("../image/layout/banner_top2.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top2.png*/);
	display: none;
		background-size:cover ;
	background-position: center;
}
.slide_3{
	background: url("../image/layout/banner_top3.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top3.png*/);
	display: none;
		background-size:cover ;
	background-position: center;
}
.slide_4{
	background: url("../image/layout/banner_top4.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top4.png*/);
	display: none;
		background-size:cover ;
	background-position: center;
}
.slide_5{
	background: url("../image/layout/banner_top5.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top5.png*/);
	background-size:cover ;
	background-position: center;
	display: none;
}
.slide_6{
	background: url("../image/layout/banner_top6.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top6.png*/);
	display: none;
	background-size:cover ;
	background-position: center;
}
.slide_7{
	background: url("../image/layout/banner_top7.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top7.png*/);
	display: none;
		background-size:cover ;
	background-position: center;
}
.slide_8{
	background: url("../image/layout/banner_top8.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/layout/banner_top8.png*/);
	display: none;
		background-size:cover ;
	background-position: center;
}
.banner_cont{
	width: 610px;
	height: 190px;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
}
.banner_cont h2{
	width: 100%;
	height: 68px;
	line-height: 68px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.banner_cont p{
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.btna{
	width: 232px;
	height: 42px;
	margin: 0 auto;
	margin-top: 6px;
	
}
.btna a{
	display: block;
	float: left;
	width: 100px;
	height: 42px;
	box-sizing: border-box;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
}
.btna .btn_le{
	background: #fff;
	line-height: 42px;
	font-size: 14px;
	color: #ee5d2c;
	
}
.btna .btn_ri{
	background: transparent;
	border: 1px solid #fff;
	margin-left: 30px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}
/*index*/
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}
.indexDetail01{
	background: #f8f8f8;
	min-height: 718px;
	overflow: hidden;
}
.detail01_title{
	font-size: 32px;
	color: #333;
	line-height: 90px;
	height: 90px;
	text-align: center;
	margin-top: 42px;
	font-weight: 100;
}
.detail01_txt{
	font-size: 16px;
	color: #555555;
	text-align: center;
	height: 63px;
}
.detail01Cont{
	/*width: 100%;*/

}
.detail01Cont ul{
	/*width: 100%;*/
	padding-left: 25px;
}
.detail01Cont ul li{
	float: left;
	width: 360px;
	height: 210px;
	background: #fff;
	margin-right: 35px;
	margin-bottom: 30px;
	padding: 23px;
	box-sizing: border-box;
}
.detail01Cont ul li:nth-of-type(3n){
	margin-right: 0;
}
.detail01Cont ul li div{
	height: 40px;
}
.detail01Cont ul li div img{
	width: 35px;
}
.detail01Cont ul li span{
	font-size: 18px;
	color: #333;
	height: 37px;
	line-height: 37px;
}
.detail01Cont ul li p{
	font-size: 12px;
	color: #666;
	line-height: 23px;
}
.detail01Cont ul li a{
	display: block;
	color: #f44d0e;
	font-size: 12px;
	height: 46px;
	line-height: 46px;
}
.detail01Cont ul li a:after{
	display: inline-block;
	content: "";
	width: 5px;
	height: 9px;
	background: url("../image/arrowm.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/arrowm.png*/) no-repeat;
}
.index_detail .title{
	color: #333 !important;
	font-size: 30px;
}
.index_detail .bg_index1 ul li a{
	width: 100px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #ff4500;
	border-radius: 20px;
	line-height: 40px;
	font-size: 14px;
	background: #fff;
}
.index_detail .bg_index1{
	background: #fff;
	min-height: 190px;
}
.index_detail .bg_index1 ul li a:hover{
	background: #ff4500;
	color: #fff;
}
.index_detail .min_project li .tit{
	font-size: 16px;
}
.index_detail .min_project li .txt4{
	font-size: 24px;
}
.index_detail .min_project li .tit{
	margin: 10px 0 10px;
}
.index_detail .case_more li{
	margin: 0;
	margin-right: 66px;
	margin-bottom: 50px;
}
.index_detail .case_more li:nth-of-type(8n){
	margin: 0;
	margin-right: 0;
	
}
.index_detail .case_more{
	margin-bottom: 0;
}
.advertisement{
	width: 100%;
	height: 180px;
	background: url("../image/advertisement.png"/*tpa=http://xcx.18weiquan.com/assets/www/image/advertisement.png*/) no-repeat;
	background-size: cover;
	background-position:center ;
	margin-top: 0;
}
.news_bottom h2{
	height: 125px;
	text-align: center;
	font-weight: 100;
	overflow: hidden;
}
.news_bottom h2 img{
	width: 28px;
	float: left;
	margin-top: 12px;
}
.news_bottom h2 a{
	display: block;
	width: 240px;
	height: 50px;
	margin: 0 auto;
	border-bottom:1px solid #cccccc;
	margin-top: 40px;
	cursor: pointer;
	
}
.news_bottom h2 a span{
	float: left;
	height: 50px;
	line-height: 50px;
}
.news_bottom{
	padding-bottom:35px ;
}
.dynamic{
	width: 342px;
	margin-right: 50px;	
	float: left;
}
.dynamic:last-of-type{
	margin-right: 0;
}
.dynamic_title{
	height: 30px;
	
}
.dynamic_title span{
	font-size: 18px;
	color: #333;
	float: left;
}
.dynamic_title a{
	color: #999;
	font-size: 14px;
	float: right
}
.dynamic_img{
	width: 340px;
	height: 120px;
}
.dynamic ul{
	width: 100%;
}
.dynamic ul li{
	width: 100%;
	height: 35px;


}
.dynamic ul li a{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #5b5b5b;
	float: left;
	width: 266px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.dynamic ul li span{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #999;
	float: right;	
}
.dynamic_right span{
	font-size: 16px;
	color: #fff;
	padding: 6px 10px;
	border-radius: 15px;
	background: #f00;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 8px;
}
.s_top{
	margin-top: 0 !important;
}
.product_pannel .top{
	color: #ff4500 !important;
	border-bottom: 2px solid #ff4500 !important;
}
.product_pannel .content .nav_list li.active{
	border-left: 5px solid #ff4500 !important;
    color: #ff4500 !important;
}
.industry_to .btnleft{
	
}
.codeboxmi p{
	color: #ff4500 !important;
}
.industryline.active{
	background: #ff4500 !important;
}
#tootherPay a{
	color: #666666;
}
#consult{
	position: fixed;
	right: 0;
	top: 40%;
	width: 60px;
	height: auto;
	box-sizing: border-box;
	/*border-left: 1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;*/
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.consultBox{
	width: 100%;
	height: 100%;
}
.consult_online{
	width: 100%;
	height: 60px;
	background: #ff4500;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.consult_online > a{
	width: 100%;
	height: 100%;
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content:center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    
}
.consult_online a img{
	width: 24px;
	height: 24px;
}
.consult_online a span{
	font-size: 12px;
	color: #fff;
	margin-top: 6px;
}
.consult_li{
	width: 100%;
	height: 60px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	/*box-sizing: border-box;*/
	border-top:1px solid #e0e0e0;
	background: #fff;
}
.consult_li > a{
	width: 100%;
	height: 100%;
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content:center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

}
.consult_li > a span{
	color: #333;
	font-size: 12px;
	margin-top: 6px;
}
.consult_return{
	width: 100%;
	height: 60px;
	background: #ff4500;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.consult_return a{
	width: 100%;
	height: 100%;
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content:center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}
.consult_return a span{
	color: #fff;
	font-size: 12px;
	margin-top: 6px;
}
.consult_list{
	width: calc(100% - 10px);
	height: auto;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	background: #fff;
	border-radius: 3px;

	float: left;
}
.consult_listbox{
	width: 110px;
	height: auto;
	position: absolute;
	left: -110px;
	top: 0;
	display: none;
	
}
.consult_listbox .consult_list li{
	width: 100%;
	height: 40px;
	border-top: 1px solid #e0e0e0;
	
}
.consult_listbox .consult_list li a{
	width: 100%;
	height: 100%;
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content:flex-start;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}
.consult_listbox .consult_list li a span{
	margin-left: 5px;
	color: #333333;
	font-size: 12px;
}
.angle_p {
	position: absolute;
	width: 8px;
	height: 8px;
	border-top: 1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	right: -4px;
	top: 14px;
	background: #fff;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}
.consult_list li:last-of-type{
	border-bottom: 1px solid #e0e0e0;
}
.consult_qq:hover .consult_listbox{
	display: block;
	
}
.consult_tellist{
	width: 130px;
	height: auto;
	position: absolute;
	left: -130px;
	top: 0;
	display: none;
}
/**/
.consult_tellist .consult_list li{
	width: 100%;
	height: 40px;
	border-top: 1px solid #e0e0e0;
	
}
.consult_tellist .consult_list li div{
	width: 100%;
	height: 100%;
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content:center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    padding-left: 10px;
    box-sizing: border-box;
    
}
.consult_tellist .consult_list li div span{
	margin-left: 5px;
	color: #cc423b;
	font-size: 14px;
}
.consult_tellist .angle_p {
	position: absolute;
	width: 8px;
	height: 8px;
	border-top: 1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	right: -4px;
	top: 14px;
	background: #fff;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}
.consult_tellist .consult_list li:last-of-type{
	border-bottom: 1px solid #e0e0e0;
}
.consult_tel:hover .consult_tellist{
	display: block;
	
}
.telp1{
	color: #6d6d6d;
}
.telp2{
	color: #cc423b;
}
