body,button,input,select,textarea { 
    font: 14px / 1.5 "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
/**
*客服 #service
*/
/*开启*/
#service .o-service,
#service .c-service{
    position: fixed;
    z-index: 9000;
    right: 0;
    top: 120px;
    width: 62px;
    height: 180px;
    background: #fff;
    border-radius: 0 26px 0 26px;
    box-shadow: 
        -1px 0 10px 1px rgba(0,0,0,.1),
        1px 0 10px 1px rgba(0,0,0,.1),
        0 -1px 10px rgba(0,0,0,.1),
        0 1px 10px 1px rgba(0,0,0,.1);
}
#service .o-service{
    cursor: pointer;
}
#service img{
    width: 100%;
}
#service .o-service>.o-imgwrap,
#service .c-service>.c-imgwrap{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #CC453E url("../img/obtn.png"/*tpa=http://xcx.18weiquan.com/kk/img/obtn.png*/) no-repeat 11px center;
    position: absolute;
    top: -14px;
    left: -14px;
    cursor: pointer;
}
#service .o-service>.wrap{
    width: 40px;
    height: 40px;
    margin: 23px auto 0;
    cursor: pointer;
}
#service .o-service>.o-text{
    width: 20px;
    text-align: center;
    font-size: 18px;
    color: #cc423b;
    margin: 7px auto 0;
    line-height: 25px;
    font-weight: 500;
}
/*关闭*/
#service .c-service{
    width: 120px;
    height: 420px;
    bottom: 30px;
    right: -134px;
}
#service .c-service>.c-imgwrap{
    background: #CC453E url("../img/cbtn.png"/*tpa=http://xcx.18weiquan.com/kk/img/cbtn.png*/) no-repeat 12px center;
}
#service .c-service>.wrap{
    width: 82px;
    height: 82px;
    margin: 18px auto 0;
    cursor: pointer;
}
#service .c-service>.c-text{
    width: 100px;
    text-align: center;
    margin: 7px auto 0;
    line-height: 25px;
    font-weight: 500;
}
#service .c-service>.c-text .qq-text{
    font-size: 16px;
    color: #cc423b;
    border-bottom: 2px solid #E5E5E5;
    padding-bottom: 10px;
}
#service .c-service>.c-text .qqx{
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-bottom: 2px solid #E5E5E5;
    cursor: pointer;
}
#service .c-service>.c-text .qqx>.imgwrap{
    width: 28px;
    height: 42px;
    background: url("../img/images/xqq_07.png"/*tpa=http://xcx.18weiquan.com/kk/img/images/xqq_07.png*/);
    float: left;
}
#service .c-service>.c-text .qqx>span,
#service .c-service>.c-text .qqt>p{
    font-size: 14px;
    color: #6d6d6d;
}
#service .c-service>.c-text .qqt{
    width: 100%;
    margin-top: 10px;
}
#service .c-service>.c-text .qqt>p{
    text-align: left;
    line-height: 20px;
}
#service .c-service>.c-text .qqt>p.call-tell{
    color: #cc423b;
    width: 107px;
}
/**
*回到顶部 #top
*/
#top{
    width: 45px;
    height: 43px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    border-radius: 5px;
    background: #666;
    cursor: pointer;
    overflow: hidden;
    display: none;
}
#top img{
    margin: 0 auto;
    display: block;
    margin-top: 7px;
    margin-top: -44px;
    transition: all .3s;
}










